body {
  margin-inline: 70px;
}
.Judul {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Poppins", serif;
}

button {
  padding: 8px;
  background-color: rgb(0, 0, 255);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: darkblue;
}

input[type="text"],
input[type="number"],
textarea,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

input[type="radio"] {
  accent-color: blue;
}
